<!DOCTYPE html>
<html>
<head>
   <h1><a href="localhost:3000" target="blank">TODO DIA TEM GOL DO GABIGOL </a></h1>
   <!--<h3>{{message}}</h3>
   <form action = "/message" method = "post">
        <input type="text" name="messageBody">
        <button type="submit">Enviar</button>
   </form> -->
    <form action="/node-mongodb-mongoose-user" method="POST">
        <input type="text" name="emailBody">
        <button type="submit">Enviar</button>
    </form>

    <h1> DADOS DE USER RECUPERADOS</h1>
    {{firstNameV}} <br>
    {{lastNameV}} <br>
    {{passwordV}} <br>
    {{emailV}} <br>
    {{messagesV}} <br>
</head>
</html>
